<div class="px-3">
  <app-christie-logo></app-christie-logo>
</div>

<div class="container limit-width d-flex-col-center mt-5">

  <i class="fas fa-door-open header-icon mb-3"></i>

  <h1 class="mb-3">
    Signed Out
  </h1>

  <div class="text-lg text-center mb-5">
    Thanks for using <span class="text-bold c-primary">My Christie, </span> <span class="text-italic c-primary">My
      Health</span>.
  </div>

  <div>
    <a type="button" class="btn btn-primary" routerLink="/login">
      Sign in again
    </a>
  </div>

</div>