@import '/src/styles/theme.scss';

.login-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .login-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 375px;
    margin-top: 128px;
  }
}

.page-links {
  a {
    padding: 0.5rem;
    font-size: 0.75rem;
  }
}
