@import '/src/styles/theme.scss';

.content {
  height: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin: 0 auto 0;
}

.content-page {
  width: 100%;
  flex-grow: 1;
}

.navbar {
  width: 100%;
  padding: 0 8px;
  margin-bottom: 16px;

  .nav-link {
    cursor: pointer;
    color: $primary;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    &:hover {
      border-bottom: 4px solid $primary;
    }
  }

  .nav-link.is-active {
    border-bottom: 4px solid $secondary;
  }
}

@include media-breakpoint-down(lg) {
  .navbar {
    .navbar-nav {
      border-bottom: 4px solid $gray;
      border-top: 4px solid $gray;
      background-color: $hover-gray;
    }

    .nav-link {
      padding-left: 8px;
      margin-left: 0;
      margin-right: 0;
    }

    .nav-link.is-active {
      border-bottom: none;
      border-left: 4px solid $secondary;
      padding-left: 4px;
      background-color: $light-gray
    }
  }
}