<h3>New questionnaire</h3>

<div class="text">
  You have been asked to complete a questionnaire.
</div>

<div class="text">
  Please click <strong>Continue</strong> to complete it.
</div>

<div>
  <button class="btn btn-primary w-100 mb-3" (click)="onContinue()">
    Continue
  </button>
  <button class="btn btn-link w-100" (click)="onLater()">
    I'll complete this later
  </button>
  <button class="btn btn-link w-100" (click)="onDecline()">
    I don't want to complete this questionnaire
  </button>
</div>
