<div class="modal fade error-modal" id="error_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fas fa-exclamation header-icon"></i>
      </div>
      <div class="modal-body">
        Sorry, something went wrong. <br/>Please try again.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="onRetry()">Retry</button>
      </div>
    </div>
  </div>
</div>